.gitattributes export-ignore
memo/bib.html export-ignore
memo/bib.tsv export-ignore
memo/bib_t2h.pl export-ignore
memo/bib_t2h.bat export-ignore
memo/db_memo.csv export-ignore
memo/bib_ng.txt export-ignore
memo/devnote.txt export-ignore
memo/1.icns export-ignore
memo/performance.csv export-ignore
auto_test.pl export-ignore
kh_coder.perlapp export-ignore
make_exe.bat export-ignore
make_exe_as.bat export-ignore
x_mac64.perlapp export-ignore
x_mac64.scpt export-ignore
test/ export-ignore
utils/ export-ignore
auto_test/ export-ignore
.github/ export-ignore
