

/* CSS
--------------------------------------------------*/
body {
	color: #000000;
	background: #D3D3D3;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

body,h1,h2,h3,h4,h5,h6,p,form,fieldset {
	margin: 0;
	padding: 0;
}

/* Links
--------------------------------------------------*/
a {
	text-decoration: none;
	color: blue;
}

a:visited {
	color: #6495ed;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: red;
}



a img {
	border: none;
}


/* IDs
--------------------------------------------------*/
#wrapper {
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

#logohead {
	background: #D3D3D3;
	text-align: center;
}

#pagehead {
	background: #FFFFFF;
	color: #000000;
	text-align: center;
	font-family: "Verdana", Helvetica, sans-serif;
}

#pagehead a {
	color: #000000;
}

#pagehead p {
	line-height: 13pt;
}

#subhead {
	margin: 0 0 10px 0;
}

#pageband {
	background: transparent url(../resources/graf_bg_shade.jpg) repeat-x top;
	color: #000000;
	position: absolute;
	left: 0;
	width: 100%;
	height: 60px;
}

#pagefoot {
	color: #000000;
	background: transparent;
	margin-bottom: 10px;
	font-family: "Verdana", Helvetica, sans-serif;
}

#pagefoot a {
	color: #000000;
}

#mainimage {
	margin: 0;
	padding: 10px;
	text-align: center;
}

#mainimage img {
	margin-bottom: 10px;
}

#altmainimage {
	padding: 10px 0 10px 0;
	margin: 0 0 10px 0;
	width: 740px;
	overflow: auto;
	text-align: center;
}

/* Classes
--------------------------------------------------*/
.low {
	display: none;
}

.smalltext {
	font-size: 8pt;
}

.clearer {
	clear: both;
	line-height: 0;
}

.left {
	float: left;
	clear: right;
	background: transparent;
}

.right {
	float: right;
	background: transparent;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.sep {
	line-height: 0px;
	height: 1px;
	border: none;
	background: #a2c0df;
	color: #a2c0df;
	margin: 0;
	padding: 0;
}

.seppad {
	line-height: 0px;
	height: 1px;
	border: none;
	background: #a2c0df;
	color: #a2c0df;
	margin: 10px 0 10px 0;
	padding: 0;
}

.metatitle {
	margin-bottom: 10px;
}

.metatitle1 {
	font-size: 11pt;
	color: #000000;
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-family: "Arial", Helvetica, sans-serif;
	float: left;
	margin-right: 8px;
}

.metatitle1 a {
	text-decoration: none;
}

.metatitle1 a:hover {
	color: #7ba9c4;
}

.metatitle2 {
	font-style: italic;
	margin-left: 2px;
	float: left;
}

.metatitle3 {
	float: right;
}

.metatitle4 {
	float: left;
}

.metaitem {
	margin-bottom: 4px;
}

.thumbcontainer {
	text-align: center;
	display: table-cell;
	margin: 10px;
}

.thumbcontainer img {
	background: #FFFFFF;
	padding: 0px;
	margin: 5px;
	border: 1px solid gray;
}

.metabox {
	background: #FFFFFF;
	padding: 5px;
	text-align: left;
	font-size: 12pt;
	line-height: 12pt;
	margin: 0 auto;
	height: 1px;
	font-family: "Verdana", Helvetica, sans-serif;
	color: #000000;
}

html > body .metabox {
	height: auto;
}

.foo {
	vertical-align: middle;
}

.thumbcontainer .metabox {
	background: #FFFFFF;
	padding: 7px;
	text-align: left;
	font-size: 7pt;
	line-height: 11pt;
	height: auto;
	width: auto;
	font-family: "Verdana", Helvetica, sans-serif;
	color: #000000;
}

.thumbcontainer .metabox img {
	background: transparent;
	padding: 0;
	line-height: normal;
}

.thumbcontainer .metabox p {
	margin: 0 !important;
}

.paginate {
	color: #000000;
	font-family: "Verdana", Helvetica, sans-serif;
	font-size: 8pt;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0px;
	text-align: center;
}

.paginate a {
	color: #000000;
	padding: 2px 6px;
	border: solid 1px #DDDDDD;
	background: #FFFFFF;
	text-decoration: none;
}

.paginate .this-page {
	color: #000000;
	padding: 2px 6px;
	border-color: #999999;
	font-weight: bold;
	font-size: 8pt;
	vertical-align: top;
	background: #FFFFFF;
}

.paginate a:hover {
	color: #000000;
	background: #D0ECFB;
	border-color: #003366;
	text-decoration: none;
}

.imagenav {
	padding: 5px 10px 5px 10px;
	margin: 0 auto;
	font-size: 8pt;
	color: #000000;
	font-family: "Verdana", Helvetica, sans-serif;
}

.framediv {
	margin-bottom: 5px;
}

/* Headings
--------------------------------------------------*/
h1 {
	font-size: 14pt;
	color: #000000;
	font-weight: bolder;
	margin: 10px 0 10px 0;
	padding: 5px 0 5px 0;
	font-family: "Arial", Helvetica, sans-serif;
	text-align: center;
}

#subhead h1 {
	margin: 10px 0 0 0;
}

/* Images
--------------------------------------------------*/
/* Tables
--------------------------------------------------*/
caption {
	display: none;
}

table{
	margin: 0;
	padding: 0;
	text-align: left;
	border: 0;
}

td {
	padding: 0;
	margin: 0;
}

td.thumbtable {
	padding: 5px;
	text-align: center;
}

.infor {
	text-align: left;
	padding: 0;
}

#logohead .infor {
	text-align: center;
	width: 250px;
}

#pagehead .infor {
	width: 500px;
}

.xsnazzy h1, .xsnazzy p {
	margin: 0 10px;
}

.xsnazzy h1 {
	font-size: 14pt;
	color: #000000;
	font-family: "Arial", Helvetica, sans-serif;
	text-align: left;
	height: 14pt; /* IE dissapearing act fix */
}

#pagehead .xsnazzy p {
	line-height: 15pt;
	font-size: 12px;
	background: transparent;
}

#pagefoot .xsnazzy p {
	line-height: 15pt;
	font-size: 12px;
	background: transparent;
}

.xsnazzy {
	background: transparent;
	margin-top: 10px;
}

.xtop, .xbottom {
	display: block;
	background: transparent;
	font-size: 1px;
}

.xb1, .xb2, .xb3, .xb4 {
	display: block;
	overflow: hidden;
}

.xb1, .xb2, .xb3 {
	height: 1px;
}

.xb2, .xb3, .xb4 {
	background: #FFFFFF; /* main Bg Colour mainbox */
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#logohead .xb2, #logohead .xb3, #logohead .xb4 {
	background: #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#pagehead .xb2, #pagehead .xb3, #pagehead .xb4 {
	background: #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

#pagefoot .xb2, #pagefoot .xb3, #pagefoot .xb4 {
	background: #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}

.xb1 {
	margin: 0 5px;
	background: #FFFFFF;
}

#logohead .xb1 {
	margin: 0 5px;
	background: #FFFFFF;
}

#pagehead .xb1 {
	margin: 0 5px;
	background: #FFFFFF;
}

#pagefoot .xb1 {
	margin: 0 5px;
	background: #FFFFFF;
}

.xb2 {
	margin: 0 3px;
	border-width: 0 2px;
}

.xb3 {
	margin: 0 2px;
}

.xb4 {
	height: 2px;
	margin: 0 1px;
}

.xboxcontent {
	display: block;
	background: #FFFFFF;
	border: 0 solid #FFFFFF;
	border-width: 0 1px;
}

#logohead .xboxcontent {
	display: block;
	background: #FFFFFF;
	border: 0 solid #FFFFFF;
	border-width: 0 1px;
}

#pagehead .xboxcontent, #logohead .xboxcontent {
	height: auto;
}

#pagehead .xboxcontent {
	display: block;
	background: #D0ECFB;
	border: 0 solid #D0ECFB;
	border-width: 0 1px;
}

#pagefoot .xboxcontent {
	display: block;
	background: #D0ECFB;
	border: 0 solid #D0ECFB;
	border-width: 0 1px;
}

#pagefoot .xboxcontent p.left {
	background: #D0ECFB;
}

strong{
	font-size: 10pt;
}