#SearchMenu {
	position: relative;
	width: 420px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: none;
}

#SearchMenuY {
	position: relative;
	width: 420px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: none;
}
