#SearchMenu {
	position: relative;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: none;
}
#SearchMenu li {
	float: left;
	list-style: none;
	margin: 0px;
}
#SearchMenu li.backLava {
	background-color:#D3D3D3;
}
#SearchMenu li.selectedLava {
	background-color:#D3D3D3;
}
#SearchMenu li a {
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: blue;
	outline: none;
	text-align: center;
	padding: 0px 2px;
	z-index: 10;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 2px 2px;
}



#SearchMenuY {
	position: relative;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: none;
}
#SearchMenuY li {
	float: left;
	list-style: none;
	margin: 0px;
}
#SearchMenuY li.backLava {
	background-color:#D3D3D3;
}
#SearchMenuY li.selectedLava {
	background-color:#D3D3D3;
}
#SearchMenuY li a {
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: blue;
	outline: none;
	text-align: center;
	padding: 0px 2px;
	z-index: 10;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 2px 2px;
}


.SMf {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	color: black;
}

.SMfnb {
	font-size: 12px;
	font-weight: bold;
	font-family: sans-serif;
	margin: 5px 0px;
	color : gray;
}

.SMftab {
	padding-bottom: 6px;
	border-bottom: 2px solid gray;
}

.SMinp{
	border: 1px solid gray;
	font-size: 12px;
	font-family: monospace;
	color : black;
	width: 80%;
	#margin: 2px 0px;
}

.SMinpE{
	border: 1px solid gray;
	font-size: 12px;
	font-family: monospace;
	color : black;
	width: 50%;
	#margin: 2px 0px;
}

.SMinpcl {
	font-size: 11px;
	#font-weight: bold;
	font-family: sans-serif;
	width: 15%;
	color: blue;
	#padding: 0px 0px;
	#margin: 2px 0px;
}

.SMinpclg {
	font-size: 11px;
	#font-weight: bold;
	font-family: sans-serif;
	width: 15%;
	color: gray;
	#padding: 0px 0px;
	#margin: 2px 0px;
}


.keyw{
	background-color: FFFF66;
	padding: 0px 2px;
	margin:  0px 3px;
	border: 1px solid #999966;
	border-radius: 4px;
	box-shadow: 1px 1px 3px #999966;
}
