a {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: #6495ed;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: underline;
}
h3 {
	font-weight: bold;
	background-color: #f1fcff;
	padding: 2px 1px 1px 5px;
	border-width: 1px;
	border-style: solid; 
	border-width: 1px;
	border-color: #008B8B;
	width: 100%;
	color: #130764;
}
h4 {
	font-weight: bold;
	color: #130764;
}
P {
	line-height: 150%;
	color: #000;
}
blockquote {
	line-height: 150%
}
OL {
	line-height: 150%
}
ul {
	line-height: 150%
}
.t12 {
	font-size: 12px;
}
.ph {
	color:white;
	font-size: 14pt;
	font-weight: bold;
}
A.refs_pdf_link{
	border-bottom: 1px dotted blue;
	color: blue;
}
A.refs_pdf_link:hover{
	border-bottom: 1px solid darkorange;
	color: red;
	text-decoration: none;
}
A.gray{
	color: gray;
	border-bottom: 1px dotted gray;
}
A.gray:hover{
	border-bottom: 1px solid darkorange;
	color: red;
	text-decoration: none;
}
A.gray:visited{
	color: gray;
	border-bottom: 1px dotted gray;
}
.gray_char {
	color: #808080;
}
.cnt {
	text-align: center;
}
.red {
	color: #F00;
}
.amamid {
	border: 1px solid black;
	width: 113px;
	height: 160;
	margin: 3px 13px;
}

.amamidp {
	border: 1px solid black;
}